/*============================== Hamburger Menu ============================*/

.mobile-dropdown {
    display: block;
    text-align: center;
    margin: 0px 5vw 0px;
    border-bottom: 1px solid rgb(0, 0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0, 0);
    transform: translateY(-8px);
    transition: all 0.5s;
    cursor: pointer;
    height: 30px;
}

/* Style Hamburger*/

.bar1, .bar3 {
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: rgb(130, 130, 130);
    margin: 7px 0px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.bar2 {
    cursor: pointer;
    vertical-align: middle;
    height: 5px;
    font-size: 1.2em;
    margin-top: -12px;
    margin-bottom: 12px;
    transition: all 0.3s linear;
    color: rgb(90, 90, 90);
}

/*=== The transition classes === */

.change .bar1, .change .bar3 {
    height: 2px;
    width: 30px;
}

/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(10px, 0px);
    transform: rotate(45deg) translate(-12px, -12px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

.change.mobile-dropdown {
    margin-top: 5px;
}

/*========= Mobile Menu ==================*/

.mobile-menu {
    display: block;
    overflow: hidden;
    text-align: center;
    transition: max-height 0.3s ease-out;
}

.menu-hide {
    max-height: 0px;
}

.menu-show {
    /*Max height must match the real height, otherwise the animation will not work correctly!*/
    max-height: 137px;
}

.mobile-menu li a {
    display: block;
    padding: 2px;
}

.mobile-menu li a.active {
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .mobile-navigation {
        display: none;
    }
}