.form {
    display: flex;
    flex-direction: column;
    border: 1px solid RGB(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0px auto;
    max-width: 960px;
}

.form.small {
    width: 250px;
}

.form--compressed {
    margin: 10px 0px 20px;
}

.form--compressed * {
    padding: 3px;
    margin: 5px;
}

/*========== Style input elements ==========*/

.form input[type=text], .form input[type=password], .form input[type=number], .form textarea, .form select {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid RGB(0, 0, 0, 0.15);
    font-family: 'Heebo-VariableFont_wght', Arial, Helvetica, sans-serif;
}

.form input[type=text]:focus, .form input[type=password]:focus, .form input[type=number]:focus, .form textarea:focus, .form select:focus {
    border-color: rgb(66, 145, 209);
}

.form input[type=text]::placeholder, .form input[type=password]::placeholder, .form input[type=number]::placeholder, .form textarea::placeholder {
    color: rgb(207, 207, 207);
}

.form input[type=text]:focus::placeholder, .form input[type=password]:focus::placeholder, .form input[type=number]:focus::placeholder, .form textarea:focus::placeholder {
    color: rgb(136, 136, 136);
}

.form input[type=file] {
    margin: 5px 0px;
    padding: 5px;
}

.form input[type=checkbox] {
    margin: 5px 0px 5px 5px;
}

.form input[type=submit].big, .button.big {
    font-size: 16px;
    padding: 10px;
    width: 200px;
}

.error {
    color: red;
    font-size: 12px;
}

/*=============== quill ============*/

.ql-snow .ql-editor img, .ql-bubble .ql-editor img {
    object-fit: cover;
    width: 100%;
    max-width: 400px;
}

.form .ql-editor, .abroad-edit .ql-editor {
    min-height: 300px;
}

.ql-editor {
    font-size: medium;
}

.quill {
    max-width: 1000px;
}

/*fix rtl side effects*/

.ql-snow .ql-picker-label {
    padding-right: 28px;
}

/*=============== abroad ============*/

.abroad-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}