.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
}

.preview-container:hover {
    box-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25);
    /* border: 1px solid RGB(0, 0, 0, 0.1); */
}

.preview-top {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f5f6f7;
}

.preview-bot {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.divider {
    height: 2px;
    width: 40px;
    margin: 10px 0px;
    background-color: rgb(0, 0, 0, 0.1);
}

.preview-img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    transition: all 2s linear;
    margin-bottom: 20px;
}

.preview-img:hover {
    transform: scale(1.03)
}

.btn {
    color: white;
    background: #686868;
    padding: 6px 26px;
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    line-height: 1.42857143;
    border-radius: 20px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgb(83, 88, 90);
}

/*=========== Product Page ============*/

.product-grid {
    display: flex;
    width: 100%;
    height: 100%;
}

.product-information {
    padding: 20px;
    align-self: start;
}

.product-information * {
    padding: 7px;
}

.product-information>div>span:first-child {
    text-decoration: underline;
}

.product-grid .img-container {
    min-width: 50%;
    max-width: 50%;
    display: block;
    align-self: center;
}

.product-grid img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .product-grid {
        flex-direction: column;
    }
    .product-grid .img-container {
        min-width: 80%;
        max-width: 80%;
    }
}