.background {
    background: url(../../images/542247.jpg) no-repeat center center;
    background-size: cover;
    height: calc(100vh - 60px);
    width: 100%;
    position: relative;
}

.background .header {
    position: absolute;
    bottom: 30px;
    right: 50px;
    line-height: 90px;
    font-size: xxx-large;
    text-shadow: 2px 2px 5px rgb(66, 52, 15);
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-aspect-ratio: 10/9) {
    .background {
        background: url(../../images/542241.jpg) no-repeat center center;
        background-size: cover;
    }
    .background .header {
        position: absolute;
        top: 20px;
        right: 0px;
        width: 100%;
        text-align: center;
        line-height: 70px;
        font-size: xx-large;
    }
}

@media screen and (max-width: 768px) {
    .background .header {
        font-size: x-large;
        line-height: 50px;
    }
}