.footer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid rgb(0, 0, 0, 0.1);
    margin: 0px 2vw 5px;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 4px;
}

.icon {
    height: 25px;
    width: auto;
    padding: 2px 5px 0px;
}

.credit {
    font-size: 14px;
    text-align: left;
    color: grey;
}

@media screen and (max-width: 767px) {
    .icons-container {
        font-size: 0.7rem;
    }
    .icon {
        height: 20px;
        padding: 2px 3px 0px;
    }
}