.book {
    text-align: center;
    max-width: 800px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px auto;
    background-color: rgb(243, 243, 243);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
}

.book div span, .updates li span {
    display: inline-block;
    padding: 5px;
}

.book div span:first-child, .updates li span:first-child {
    padding: 5px;
    font-weight: 600;
}

.updates li span {
    display: block;
}