.book {
    text-align: center;
    padding: 20px;
    border: 1px solid RGB(0,0,0,0.2)
}

.book div span, .updates li span {
    display: inline-block;
    padding: 5px;
}

.book div span:first-child, .updates li span:first-child {
    padding: 5px;
    font-weight: 600;
}

.updates li span {
    display: block;
}