.book {
    text-align: center;
    padding: 20px;
    margin: 0px auto;
    max-width: 800px;
    background-color: rgb(243, 243, 243);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    border: 1px solid black;
    border-radius: 5px;
}

.book div span, .updates li span {
    display: inline-block;
    padding: 5px;
}


.book div span:first-child, .updates li span:first-child {
    display: inline-block;
    padding: 5px;
    font-weight: 600;
}