 .products-page {
     display: flex;
 }

 .products-container {
     padding: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }



 @media screen and (max-width: 767px) {
     .products-page {
         flex-direction: column;
     }
     .top-menu {
         display: none;
     }
 }