 .products-page {
     display: flex;
 }

 .products-container {
     padding: 10px;
     width: 100%;
     box-sizing: border-box;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }



 @media screen and (max-width: 768px) {
     .products-page {
         flex-direction: column;
     }
 }