.slider-container {
    text-align: center;
    overflow: hidden;
    position: relative;
    direction: ltr;
}

.image-container {
    width: 100%;
    display: flex;
    transition: 0.3s;
}

.slider-container img {
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.slider-container .arrow {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition:  0.3s;
    transition: background-color 0.6 ease;
}

.slider-container .arrow:hover {
    font-size: 1.3rem;
    background-color: rgba(61, 61, 61, 0.5)
}

.arrow.prev {
    left: 0px;
}

.arrow.next {
    right: 0px;
}

.dots {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    width: 10px;
    height: 10px;
    margin: 5px;
    transition: 0.3s;
}

.dot.active {
    background-color: rgb(170, 170, 170);
    width: 12px;
    height: 12px;
}